@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow");

html {
    scroll-behavior: smooth;

}

main {
    font-family: Barlow, Quicksand, Rubik, sans-serif, serif, 'Times New Roman', Times, serif !important;
}

footer {
    font-family: Rubik, sans-serif, serif, 'Times New Roman', Times, serif;
}

#logo {
   width: 45px;
   height: 45px;
   border-radius: 0%;
   overflow: hidden;
   margin-top: -6px;
}

.example::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: #f7e697 !important;
}

.card {
    box-shadow: 10px 10px 5px #f0edda;

}

.card-header:hover {
    background: #7cb36d !important;
    color: whitesmoke !important;
    transition: 0.1s ease-in;
}

.card a {
    text-decoration: none;
}

.card-header {
    color: #67b3c7 !important;
    background: #f7e697 !important;
    transition: 0.3s ease-in;
}

.nav-link:hover {
    background: #e3b536 !important;
    color: white !important;
    transition: 0.4s ease;
}

.icon-bar {
    color: black;
}


.card h4 {
    margin: 40px 40px 0 40px;
    text-align: left;
}

.card h6 {
    margin: 25px 40px 0 40px;
    text-align: left;
}

.card p {
    text-align: right;
    margin-right: 50px;
    line-height: 10px;
}

.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;

    padding: .8em 1.4em;
    padding-right: 4.7em;
    background: #e0902d;
    border: none;
    color: white;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #faf3e3;
    overflow-x: hidden;
    background-repeat: no-repeat;
}




.myimage {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.myimage:hover {
    opacity: 0.9;
    transform: scale(1.02);

}


.btn:hover {
    background: black;
    color: white;
    border: 0.5px solid white;
}

.fa:hover {
    color: red;

}

.fa {
    color: white;
}

.profa {
    color: black;
}


footer .container-fluid {
    padding: 10vmin 10vmin;
}

footer .column a+a {
    padding: 0 0.7em;
}



.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.account-img {
    height: 125px !important;
    width: 125px !important;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
