{% extends 'chefapp/base.html' %} {% block content %}
<section class="container-fluid text-center">
    <h3>Latest Recipe</h3>
    {% for recipe in recipelist%}

    <div class="container d-flex flex-wrap justify-content-center">
        <div class="card" style="width: 550px;">
            <a href="{% url 'recipe_detail' recipe.id%}">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-7">
                            <h4>{{ recipe.title }}</h4>
                            <h6>{{ recipe.abstract }}</h6>
                        </div>
                        {% if recipe.pictures %}
                        <div class="col-md-5">
                            <img src="{{recipe.pictures.url}}" style="height: 100px; width: 150px" alt="recipe-image" />
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br /><br />
    {%endfor%}
</section>

{% endblock content %}
